@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
}
@import url(http://www.openhiun.com/hangul/nanumbarungothic.css);

@font-face {
  font-family: "NanumBarunGothic";
  src: url("./font/NanumBarunGothicBold.ttf");
}

* {
  box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes blink {
    0% {
      text-shadow: 0 0 5px white;
    }
    50% {
      text-shadow: 0 0 20px white;
    }
    100% {
      text-shadow: 0 0 5px white;
    }
}


/* 스크롤 */
::-webkit-scrollbar {
  width: 15px;
  background-color: linear-gradient(45deg,#8e2de2,#4a00e0);
}
/* 스크롤 엄지부분 */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,#8e2de2,#4a00e0);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
/* 스크롤 트랙 */
::-webkit-scrollbar-track {
  background-color: black;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
/* 스크롤 코너 */
::-webkit-scrollbar-corner {
  background-color: black;
}

body {
  background: #1d1d1d;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "BMDOHYEON";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;

}

.image-filter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px black;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 500vh;
}

.background-image {
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100%;
  opacity: 0.1;
}

.inner {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.innerbox {
  z-index: 10;
}

.title {
  margin-top: 10rem;
  color: white;
  font-size: 2.5rem;
  z-index: 10;
  text-shadow: 0 0 10px white;
  animation: blink 1s linear infinite;
  margin-bottom: 0;
}

.title h1 {
  margin: 0;
}

.subtitle {
  background-color: white;
  font-weight: 800;
  color: black;
  box-shadow: 0 0 10px white;
}

.subtitle h2 {
  padding: 1rem;
}

.description h2{
  font-family: "NanumBarunGothic";
  font-size: 1.2rem;
  font-weight: 800;
}